.product {
  background: #ececec42;
}
.buyers_top_list {
  margin: 21rem 0rem;
}

.productImgWrapper {
  width: 100%;
  height: 15.1875rem;
  overflow: hidden;
}

.productImg {
  width: 100%;
}
.productDesc {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  font-size: var(--fs-xs);
}

.name-price-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.reviews {
  font-size: 0.8rem;
  color: var(--dark-light);
}
.price-discount,
.name-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 1rem;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--black);
}
.name:hover {
  text-decoration: underline;
}

.price {
  display: block;
  font-size: 0.75rem;
  color: var(--secondaryColor);
  text-align: right;
  color: var(--dark-light);
}
.discount {
  /* margin-top: 0.3rem; */
  color: crimson;
}

.dropDownWrapper {
  position: relative;
}
.dropDown {
  background: #c7c7c7;
  padding: 0.5rem;
  /* border-radius: 6px 6px 0rem 0rem; */
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}
.dropDownIndicator {
  border-left: 1px solid gray;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.dropDownList {
  box-shadow: 2px 3px 6px 2px rgba(0, 0, 0, 0.178);
  padding: 0rem 0.5rem 0.3rem 0.5rem;
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  z-index: 1;
  display: none;
  /* display: none; */
}
.dropDownItem {
  padding-block: 0.5rem;
  font-size: var(--fs-xs);
  border-bottom: 1px solid rgb(218, 218, 218);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: pointer;
}

.toggleDropDown {
  display: block;
}

.popup {
  width: 80%;
  max-width: 450px;
  margin: auto;
  position: fixed;
  bottom: 0;
  background: #b4b4b45d;
  color: var(--dark-light);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  padding: 0.5rem;
  border-bottom: 0px solid white;
  display: none;
  /* visibility: hidden; */
}
.popup a {
  color: var(--dark-light);
  text-decoration: underline;
}
.closePopup {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: rgb(255, 81, 110);
}
.closePopup * {
  pointer-events: none;
}

.productItem {
  position: relative;
  margin-bottom: 1.5rem;
}
.float {
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  left: 0;
  transform: translate(30%, 10%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}
.like {
  transform: translate(calc(130% + 10px), 10%);
}
.liked {
  color: rgb(255, 133, 158);
}
.cartIcon {
  transition: all 0.2s ease-in-out;
}
.float:hover {
  width: 2.9375rem;
  height: 2.9375rem;
}
.float:hover .cartIcon {
  font-size: 1.4rem;
}
@media (min-width: 35rem) {
  .productGridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media (min-width: 50rem) {
  .productGridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 1rem;
  }
}
