.product {
  background: #ececec42;
}
.buyers_top_list {
  margin: 21rem 0rem;
}

.productImgWrapper {
  width: 100%;
  height: 15.1875rem;
  overflow: hidden;
}

.productImg {
  width: 100%;
}
.productDesc {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  font-size: var(--fs-xs);
}

.name-price-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.reviews {
  font-size: 0.8rem;
  color: var(--dark-light);
}
.price-discount,
.name-rate {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 0.4rem;
}
.name {
  font-size: 1.3rem;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--black);
}
.name:hover {
  text-decoration: underline;
}
.star .reviews {
  display: block;
}
.reviews {
  margin-top: 0.2rem;
}

.rating {
  display: flex;
  align-items: center;
}
.price {
  display: block;
  font-size: 0.9rem;
  color: var(--secondaryColor);
  text-align: right;
  color: var(--dark-light);
  margin: 0;
}
.discount {
  font-size: 0.8rem;
  color: crimson;
}

.popup {
  width: 80%;
  max-width: 450px;
  margin: auto;
  position: fixed;
  bottom: 0;
  background: #f0f0f0d0;
  color: var(--dark-light);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  padding: 0.5rem;
  border-bottom: 0px solid white;
  display: none;
  /* visibility: hidden; */
}
.popup a {
  color: var(--dark-light);
  text-decoration: underline;
}
.closePopup {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: rgb(255, 180, 191);
  font-size: 1.2rem;
  cursor: pointer;
}
.closePopup * {
  pointer-events: none;
}

.productItem {
  position: relative;
  margin-bottom: 1.5rem;
}
.float {
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  left: 0;
  transform: translate(30%, 10%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
  outline: none;
}
.like {
  transform: translate(calc(130% + 10px), 10%);
}
.liked {
  color: rgb(255, 133, 158);
}
.cartIcon {
  transition: all 0.2s ease-in-out;
}
.float:hover {
  width: 2.9375rem;
  height: 2.9375rem;
}
.float:hover .cartIcon {
  font-size: 1.4rem;
}
@media (min-width: 35rem) {
  .productGridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media (min-width: 50rem) {
  .productGridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 1rem;
  }
}
