.contactPage {
  color: #42435d;
  font-family: 'Work Sans', sans-serif;
}
.contactMapGrid {
  display: grid;
  grid-gap: 0rem;
}
.getInTouch {
  width: 90%;
  margin: auto;
  max-width: 450px;
}
.getInTouch h1 {
  text-transform: capitalize;
}
.contactFormField {
  border: 1px solid #bbbbbb81;
  width: 100%;
  display: block;
  padding: 0.6rem;
  margin-block: 0.5rem;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.contactFormField::placeholder {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.messageSubmit {
  border: none;
  color: white;
  background-color: rgb(247, 91, 130);
  font-family: 'montserrat';
  font-weight: 700;
  margin: 1.5rem 0rem;
}
.addresses {
  display: grid;
  grid-gap: 1.2rem;
}
.addresses h1 {
  font-size: 1.3rem;
  font-family: 'montserrat';
}
.rapidContactText {
  text-align: center;
  margin: 2rem;
}

.maps {
  margin-top: 3rem;
}
.socialLinks {
  display: flex;
  justify-content: center;
}
@media (min-width: 35rem) {
  .addresses {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactMapGrid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
}

.maps {
  padding-top: 2rem;
}
.theMap {
  background: blue;
  width: 100%;
  height: 100%;
}
