.checkout,
.checkoutTitle {
  display: grid;
  color: #42435d;
  font-family: 'Work Sans', sans-serif;
}

.checkout section {
  border: 5px solid #f0f0f07e;
  border-radius: 8px;
  padding-top: 1rem;
  margin-block: 1rem;
}

.titleTextSmall {
  margin: 0.7rem;
  font-size: 1.4rem;
}

.checkoutInputs {
  display: block;
  border: 1px solid #42435d;
  padding: 0.7rem;
  outline: none;
  margin: 1rem 0.7rem;
  width: calc(100% - 1.4rem);
  text-transform: capitalize;
}

@media (min-width: 35rem) {
  .checkout {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 1300px;
  }
  .firstNameInput,
  .lastNameInput {
    width: 49%;
    margin-inline: 0;
  }

  .splitInputField {
    display: flex;
    justify-content: space-between;
    margin-inline: 0.7rem;
  }
}

.checkoutItemWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #42435d79;
  margin: 1rem 0rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
.checkoutImageWrapper {
  display: flex;
  align-items: flex-start;
}
.checkoutImg {
  width: 100px;
  height: 75px;
  padding: 0.5rem;
}

.checkoutImageWrapper h2 {
  text-transform: capitalize;
}
.checkoutImageWrapper h2:hover {
  text-decoration: underline;
}

.checkoutImg img {
  width: 100%;
  height: 100%;
}

/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
