.productFlexWrapper {
  /* display: flex; */
  max-width: 1300px;
  justify-content: space-between;
}

.flexItem {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
}

.openedProduct .name {
  text-transform: capitalize;
  color: #42435d;
  font-size: 1.7rem;
  font-weight: 700;
}
.productPageImgWrapper {
  width: 100%;
  height: 100%;
}
.flexItem img {
  width: 100%;
}
.openedItemDescription {
  margin-top: 2rem;
}
.buyBtn {
  display: block;
  outline: none;
  margin: 1rem auto;
  border: none;
  color: white;
  font-family: 'quicksand', sans-serif;
  font-size: var(--fs-sm);
  width: 100%;
  padding: 1rem 0;
  border-radius: 4px;
  max-width: 30rem;
}
.addToCart {
  background: var(--secondaryColor);
}
.productPlaceOrder {
  background: var(--mainGreen);
}

.desktopTitle {
  display: none;
}

@media (min-width: 50rem) {
  .productFlexWrapper {
    display: flex;
  }
  .desktopTitle {
    display: block;
    text-align: center;
    margin: 1rem;
  }
  .inlineButton {
    display: flex;
    justify-content: space-between;
  }
  .openedButton {
    width: 49%;
  }
  .flexItemTwo {
    padding: 1rem;
  }
}
